*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text{
  color: white;
  margin: 50px;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: black;   */
  height: 100vh;
  min-width: 100vw;
  background: linear-gradient(to right,#8E0E00 10%, #1F1C18);
}

.button1{
  margin-top: 190px;
  margin-bottom: 190px;
  display: inline-block;
  padding: 1px 2px;
  margin-right: 10px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color:grey;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
  cursor: pointer;
  
}
.button1:hover {
  background-color: #fff;
  color: #ff5252;
  border: 2px solid #ff5252;
  box-shadow: 5px 5px 0px #ff5252;
}

.button1:active {
  background-color: slategray;
  box-shadow: none;
  transform: translateY(4px);
}

.button2{
  margin-top: 190px;
  margin-bottom: 190px;
  display: inline-block;
  padding: 1px 2px;
  font-size: 24px;
  font-weight: bold;
  margin-left: 10px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color:grey;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
  cursor: pointer;
  
}
.button2:hover {
  background-color: #fff;
  color: #ff5252;
  border: 2px solid #ff5252;
  box-shadow: 5px 5px 0px #ff5252;
}

.button2:active {
  background-color: slategray;
  box-shadow: none;
  transform: translateY(4px);
}

.adminbutton:active {
  background-color: slategray;
  box-shadow: none;
  transform: translateY(4px);
}

.adminbutton:active {
  background-color: slategray;
  box-shadow: none;
  transform: translateY(4px);
}



.card{
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  width: 500px;
  height: 400px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 2px 2px;
  background: rgb(235, 47, 47);
}

.card-back{
  /* display: flex; */
  padding-top: 30%;
  /* justify-content: center;
  text-align: center; */
  position: relative;
  width: 500px;
  height: 400px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 2px 2px;
  background: grey;
}

.adminbutton{
  flex-direction: column;
  display: inline-block;
  padding: 1px 2px;
  font-size: 24px;
  font-weight: bold;
  margin-left: 10px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color:grey;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
  cursor: pointer;
}

